* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    z-index: 2;
}

.botao-container {
    position: relative;
    display: inline-block;
}

.botao {
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 77, 109, 0.6);
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.botao:hover {
    background-color: #FFFF;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff4d6d, 0 0 40px #ff4d6d, 0 0 60px #ff4d6d;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#coraçoesBotao {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}
